/* @import "/main.css"; */
@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");

.post {
  grid-area: cards;
  display: flex;
  flex-flow: column;
  max-width: 40vw;
  margin: auto;
}

.author {
  display: flex;
  flex-flow: row;

  max-height: 12vh;
}
.authorImg img {
  max-width: 6vw;
  border-radius: 50%;
  margin-left: 1vw;
}

.authorInfo {
  display: flex;
  flex-flow: column;
  margin-top: 1vh;
  margin-left: 1vw;
  max-width: 14vw;
}

.authorInfo h4,
.authorInfo h5,
.authorInfo p {
  margin: 0;
  padding: 0;
}

.imgPost {
  max-width: 24vw;
  display: block;
  margin: auto;
}

figcaption {
  text-align: center;
  font-style: oblique;
}
.authorInfo p {
  line-height: 1.6vh;
  margin-top: 0.6vh;
}
.content p {
  font-family: "Peddana", serif;
  font-size: 24px;
  color: #6e3f3f;
  line-height: 3vh;
}
.socialLinks li {
  list-style: circle;
}

.socialLinks a {
  color: aquamarine;
  background-color: #6e3f3f;
}

q {
  font-style: italic;
  text-decoration: underline;
}

#boldText {
  font-weight: bold;
}
