@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
/* general part */
html,
body {
  height: 100%;
  margin: 0;
  background: #e0e0e1;
}
.container {
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav cards cards cards "
    "nav cards cards cards "
    "nav cards cards cards "
    "nav cards cards cards "
    "footer footer footer footer ";
}

a {
  color: #a55656;
  text-decoration-line: none;
  font-style: italic;
}
/* menu part */
.menu {
  grid-area: nav;
  background-color: #b7b7ba;
  max-width: 15vw;
}

.menu h1 {
  text-align: center;
  background: #e0e0e1;
  font-family: "Peddana", serif;
  font-size: 2.8vw;
}

.menu ul {
  list-style: none;
  text-align: left;
  margin-left: 1.3vw;
}

.menu ul li {
  padding: 0.5vw;
  font-size: 20px;
}

/* blog posts part */
.blogPosts {
  grid-area: cards;
  display: flex;
  justify-content: space-evenly;
}

.blogCard {
  display: flex;
  margin-top: 2vh;
  width: 200px;
  height: 200px;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  background-image: url("./images/Coding Books.jpg");
  background-size: cover;
}

.cardTitle {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  height: 35px;
  width: 100%;
  background-color: #b7b7ba;
}

.cardTitle h3 {
  margin: auto;
  margin-left: 0.5vw;
}

.cardTitle button {
  margin: 2px;
}

#item1 {
  background-image: url("./images/WorkSpace.jpg");
  background-size: cover;
}

/* footer part */
.footer {
  grid-area: footer;
  background-color: #b7b7ba;
  position: relative;
}

.footer div {
  position: absolute;
  bottom: 4px;
  left: 0;
  margin-left: 50%;
  color: #000000;
}
